@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
    font-family: Roboto;
    color: rgb(100, 100, 100);
}

h2, h3 {
    color: rgb(71, 71, 71);
    font-weight: 900;
}

ul {
    line-height: 20px;
}